@page
@using Microsoft.Extensions.Localization
@using CatchException.Tagging.Localization
@using CatchException.Tagging.Web.Pages.Tagging
@model CatchException.Tagging.Web.Pages.Tagging.IndexModel
@inject IStringLocalizer<TaggingResource> L

@{
}
<h1>Tagging</h1>
<p>@L["SamplePageMessage"]</p>
