@page "/Tagging"
@using Microsoft.Extensions.Localization
@using global::CatchException.Tagging.Localization
@inject IStringLocalizer<TaggingResource> L
@{
}
<h1>Tagging</h1>
<p>@L["SamplePageMessage"]</p>